 body {
     /* display: flex; */
     justify-content: center;
     flex-wrap: wrap;
 }

 .heading {
     background-color: #0E6C04;
     padding: 50px;
 }

 body h1,
 h3 {
     color: aliceblue;
 }

 body button {
     background-color: white;
     color: black;
     padding: 20px 40px;
     margin: 20px;
     border-radius: 10px;
     font-size: 20px;
     font-weight: 700;
     cursor: pointer;
     border: 1px solid white;
 }

 body button:hover {
     background-color: black;
     color: white;
     border: 1px solid white;
 }


 .wrapper {
     box-shadow: 10px 10px 61px -20px rgba(0, 0, 0, 0.75);
     border-radius: 5px;
     width: 30%;
     padding: 20px;
     text-align: center;
     background-color: black;
     margin: 20px;
 }